.button {
    border-radius: 50%;
    width: 50px;
    height: 50px;

    background: var(--second-color);
    color: var(--bg-color);

    display: flex;
    justify-content: center;
    align-items: center;


    margin: auto;
    font-size: 30px;

    user-select: none;

    opacity: 1;
    transition: opacity 0.2s;
}

.button:hover {
    background: var(--second-color-light);
}

.btn-hide {
    opacity: 0;
}