.button {
    border-radius: 50%;
    width: 50px;
    height: 50px;

    background: #a551a1;
    color: indigo;

    display: flex;
    justify-content: center;
    align-items: center;


    margin: auto;
    font-size: 30px;

    user-select: none;

    opacity: 1;
    transition: opacity 0.2s;
}

.btn-hide {
    opacity: 0;
}