.circle {
    border-radius: 50%;
    
    background: var(--main-color);

    position: absolute;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: top 0.2s, left 0.2s;
}

.circle-spin {
    animation: circle-spin-anim 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes circle-spin-anim {
    0% {
        transform: translate(-50%, -50%) rotate(359deg) ;
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}