.spinner {
    position: absolute;
    transform: translate(50%, 50%);

    animation-duration: 3s;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    top: 50%;
    left: 50%;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(359deg);
    }
}

