.spinner {
    position: absolute;
    top: 0;
    left: 0;
}

.spin {
    animation: spin 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.go {
    animation: go 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(359deg);
    }
}

@keyframes go {
    0% {
        transform: scale(1.0) rotate(0deg);
    }

    50% {
        transform: scale(0) rotate(359deg);
    }

    51%, 90% {
        transform: scale(0) rotate(0deg);
    }

    100% {
        transform: scale(1.0) rotate(0deg);
    }
}