.rng-options {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 30px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    color: var(--third-color);
    background: var(--bg-second-color);

    opacity: 1;
    transition: opacity 0.2s, bottom 0.2s;
}

.rng-option {
    padding: 0 25px;
}

.rng-options-hide {
    opacity: 0;
    bottom: -100px;
}

.option-title {
    margin-bottom: 1em;

    background: var(--bg-third-color);
    padding: 2px 15px;
    border-radius: 20px;
}

.rng-go-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.random-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    user-select: none;

    font-size: 30px;
    color: var(--third-color);
}

.random-number-show {
    animation: showNumber;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes showNumber {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }

    90% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.0);
    }
}

.again-btn {
    position: absolute;
    /* top: 80vh; */
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 100px;
    bottom: 0;
    opacity: 0;
}

.show-again-btn {
    animation: show-again-btn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes show-again-btn {
    0% {
        bottom: -150px;
        opacity: 0;
    }

    90% {
        bottom: -150px;
        opacity: 0;
    }

    100% {
        bottom: 0;
        opacity: 1.0;
    }
}