.rng-options {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 30px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    color: #a59ea8;
    background: #131418;
}

.rng-option {
    padding: 0 25px;
}

.option-title {
    margin-bottom: 1em;

    background: #0c0d11;
    padding: 2px 15px;
    border-radius: 5px;
}

.rng-go-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}