:root {
    --main-color: #8041bb;
    --second-color: #a551a1;
    --third-color: #a59ea8;

    --second-color-light: #c977c5;

    --bg-color: #16171b;
    --bg-second-color: #131418;
    --bg-third-color: #0c0d11;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--bg-color);
  
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
